#chat-page .chat-me .am-list-content{
    padding-right:15px;
    text-align: right;
}
#chat-page .chat-me .am-list-extra{
    flex-basis:auto
}
.stick-footer{
    z-index:10;
    position: absolute;
    bottom:0;
    width:100%;
    line-height:45px;
    border-top:1px solid #666;
}